@font-face {
    font-family: "Faune";
    src: url('woff2/Faune-Text_Regular.woff2') format('woff2');
    weight:400;
}
body{
    margin: 24px;

    background-image: linear-gradient(rgb(247, 171, 109), white);
    background-repeat: no-repeat;
    height:100vh;
    font-family:"Faune",sans-serif ;

}

img{
    display: block;
}



p{
    font-family: monospace;
    color: #e86900;;
    font-size: 24px;
}
p.intro{
    font-size: 56px;
}
h1{
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
    font-size: 150px;
    color: rgb(16, 59, 45);
}
.header{
    background: #e0f8ec;
    padding: 49px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 48px;
    border-radius: 24%;
}
.header-nav a {
    display: block ;
    text-decoration: none;
    background: #4d4d4d;
    color: #ffead9;
    border-radius: 40%;
    padding:5px 7px;
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    transition: 0.5s;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: baseline;
}
.header-nav a:hover{
    background: #2e9756;
    
}
